{
    "status": "ok",
    "counts": {
        "all_items": "<%= @all_count_unread%>"
        <% @tree[:folders].each do |folder| %>
        , "folder_<%= folder.id %>": "<%= folder.count_unread %>"
        <% end %>
        <% @items_to_read.map do |feed_id, count| %>
        , "feed_<%= feed_id %>": "<%= count %>"
        <% end %>
    }
}