<% if @feed %>
    <h1>Showing feed "<%= @feed.name %>"</h1>
<% elsif @folder %>
    <h1>Showing folder "<%= @folder.name %>"</h1>
<% else %>
    <h1>Showing all items</h1>
<% end %>
<hr/>

<% @items.each do |item_to_read| %>
    <% item = item_to_read.item %>
    <div class="entry unread" data-item-id="<%= item.id %>" data-feed-id="<%= item.feed_id %>">
      <h2 class="entry-title"><%= link_to(item.url, :target => '_blank') do %><%= item.title %> <i class="glyphicon glyphicon-share"></i> <% end %></h2>
      <div class="entry-pub-date with-tooltip text-right muted" title="<%= l(item.publication_date, :format => :full) %>"><%= pretty_date item.publication_date %></div>
      <div class="feed-link muted">from <%= item.feed.name %></div>
      <div>
        <%= strip_scripts(item.description, item.feed.site_url) %>
      </div>
      <div style="clear: both">&nbsp;</div>
    </div>
<% end %>

<% if (@current_count_unread or 0) > @items.size %>
    <div class="more">
      <%= link_to "Wait, there's more!", "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    </div>
<% end %>