<div style="margin-left: 200px">
  <h1>Welcome to Feedzee</h1>

  <strong>In order to use Feedzee, you must first log in using an external account:</strong>

  <div class="row" style="margin-top: 20px">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to 'auth/google_oauth2' do %>
            <div style="text-align: center;"><%= image_tag 'auth/google.png' %></div>
            <div class="caption">
              <h3>Use Google auth</h3>
              <p>Only your email address will be used, and will not be redistributed</p>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>