<script id="mainTemplate" type="ractive">
  <div class="container">
    <div class="row">
      <div class="col-md-200 feeds" id="feeds">
        <div class="actionbar">
          <a class="btn btn-primary" type="button" href="#subscribe_popup" data-toggle="modal">Subscribe</a>
        </div>

        <div class="tree-top-shadow"></div>
        <div class="tree">
          <ul role="menu" id="menu">
            <a href="#" proxy-click="showall" id="all_items">
                All items
                {{#all_count_unread}}<span class="badge pull-right">{{all_count_unread}}</span>{{/all_count_unread}}
                <span style="clear: both">&nbsp;</span>
            </a>
            {{#folders}}
            <li class="branch" id="folder_{{id}}">
              <a href="#" proxy-click="foldershow">
                <span class="chevron pull-left" proxy-click="foldertoggle"><i class="glyphicon {{#is_expanded}}glyphicon-chevron-down{{/is_expanded}}{{^is_expanded}}glyphicon-chevron-right{{/is_expanded}}"></i></span>
                <i class="glyphicon glyphicon-folder-open"></i>
                {{name}}
                <span class="badge pull-right">{{count_unread}}</span>
                <span style="clear: both">&nbsp;</span>
              </a>

              <ul style="display: {{#is_expanded}}'block'{{/is_expanded}}{{^is_expanded}}none{{/is_expanded}}">
                {{#subscriptions}}
                <li id="feed_{{feed.id}}">
                  <a href="#" proxy-click="feedshow">
                    <span class="pull-left">{{{shorten(feed.name)}}}</span>
                    <span class="badge pull-right"></span>
                    <span style="clear: both">&nbsp;</span>
                  </a>
                </li>
                {{/subscriptions}}
              </ul>
            </li>
            {{/folders}}
            {{#orphans}}
            <li id="feed_{{feed.id}}" class="orphan">
              <a href="#" proxy-click="feedshow">
                <span class="pull-left">{{{shorten(feed.name)}}}</span>
                <span class="badge pull-right"></span>
                <span style="clear: both">&nbsp;</span>
              </a>
            </li>
            {{/orphans}}
          </ul>
        </div>
        <div class="tree-bottom-shadow"></div>
      </div>
      <div class="items" id="items">
        {{#current_feed}}
            <h1>Showing {{current_feed}}</h1>
            <div class="actionbar">
              <button class="btn btn-default btn-sm" proxy-click="markallread" disabled="disabled" id="markasread_btn">Mark all as read</button>
              <button href="#unsubscribe_popup" class="btn btn-default btn-sm" data-toggle="modal" disabled="disabled" id="unsubscribe_btn">Unsubscribe</button>
            </div>
        {{/current_feed}}
        {{#items}}
        <div class="entry unread" proxy-click="itemclick" data-item-id="{{id}}" data-feed-id="{{feed_id}}">
          <h2 class="entry-title"><a href="{{url}}">{{title}} <i class="glyphicon glyphicon-share"></i></a></h2>
          <div class="entry-pub-date with-tooltip text-right muted" data-original-title="{{publication_date}}">{{prettyDate(publication_date)}}</div>
          <div class="feed-link muted">from <a href="{{feed.site_url}}">{{feed.name}}</a></div>
          <div class="entry-content">
            {{{description}}}
          </div>
          <div style="clear: both">&nbsp;</div>
        </div>
        {{/items}}

        <footer>

        </footer>
      </div>
    </div>
  </div>

  <div id="unsubscribe_popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Confirm action</h3>
        </div>
        <div class="modal-body">
          Do you really want to unsubscribe from {{current_feed}}?
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="confirm_unsubscribe_btn" class="btn btn-primary" proxy-click="unsubscribe">Unsubscribe</button>
        </div>
      </div>
    </div>
  </div>
</script>