<h1 xmlns="http://www.w3.org/1999/html">Import feeds via OPML</h1>

<div class="alert alert-info">
  This page allows importing feeds from an <a href="http://dev.opml.org/">OPML file</a>.<br/>
  If you use Google Reader, it is possible to <a href="http://googlesystem.blogspot.fr/2012/11/export-google-reader-data-in-google.html">
  export your current feeds using Google Takout</a>.
</div>

<%= form_tag({:action => :import}, :multipart => true) do %>
  <fieldset>
    <legend>OPML location</legend>
    <label for="opml_file">Select OPML location:</label>

    <div class="fileupload fileupload-new" data-provides="fileupload">
      <div class="input-append">
        <div class="uneditable-input col-md-3">
          <i class="glyphicon glyphicon-file fileupload-exists"></i>
          <span class="fileupload-preview"></span>
        </div>

        <span class="btn btn-default btn-file">
          <span class="fileupload-new">Select file</span>
          <span class="fileupload-exists">Change</span>
          <input type="file" name="opml_file" />
        </span>

        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
      </div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </fieldset>
<% end %>