/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-theme
 *= require bootstrap_and_overrides
 *= require bootstrap-fileupload.min
 *= require jquery.mCustomScrollbar
 *= require bootstrap-notify
 */

$grayLight: #999;
$grayLighter: #eee;
$blue: #049cdb;

body {
  height: 100%;
  width: 100%;
}

#main {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

.container, .row, .feeds {
  height: 100%;
}

$feedsTopMargin: 50px;

.feeds {
  position: relative;
  width: 250px !important;
  float: left;

  .actionbar {
    margin: 50px auto 10px auto;
    text-align: center;
  }
}

.items {
  height: inherit;
  position: relative;
  overflow-y: auto;
  margin-right: 20px;

  hr {
    margin-top: -10px;
  }
}

.entry {
  border: 1px solid #DDD;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 10px 30px 10px;
  background-color: white;
  font-size: 0.9em;

  position: relative;
}

.entry a {
  color: $grayLight;
}

.current-entry {
  border-left: 2px solid $blue;
  border-right: 2px solid $blue;
}

.current-entry a {
  color: $blue;
}

.current-feed {
  > a {
    border-color: $blue !important;
    color: $blue !important;
  }
}

.entry:before, .entry:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 5px;
  width: 50%;
  //top: 80%;
  height: 40px;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.entry:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  right: 5px;
  left: auto;
}

.entry-title {
  float: left;
  margin: 0;
  font-size: 1.3em;
  line-height: 1.3em;
}

.entry-pub-date {
  float: right;
}

.feed-link {
  clear: both;
  margin-bottom: 15px;
}

footer {
  text-align: center;
}

.items h1 {
  font-size: 1.3em;
  height: 20px;
}

#loading-icon {
  margin-top: 5px;
  margin-right: 20px;
  display: none;
}

.tree {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: $feedsTopMargin + 50px 0 20px 0;

  #all_items {
    padding-left: 10px;
  }
  ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;

    a {
      border-left: 3px solid transparent;
      display: block;
      padding: 3px;
      color: black;
    }

    a:hover {
      background-color: $grayLighter;
      text-decoration: none;
    }
  }

  li.branch {
    ul span.pull-left {
      padding-left: 30px;
    }
  }

  li.orphan {
    span.pull-left {
      padding-left: 10px;
    }
  }

  .chevron {
    padding: 0 5px;
  }

  .glyphicon-folder-open {
    margin-right: 5px;
  }
}

.tree-top-shadow {
  height: 16px;
  background: radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0));
  opacity: 0;
}

.tree-bottom-shadow {
  height: 16px;
  background: radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.more {
  font-size: 1.2em;
  text-align: center;
}

footer {
  margin-top: 30px;
}

.mCSB_container.mCS_no_scrollbar{
  margin-right: 10px !important;
}

#show-feeds, #prev-item, #next-item {
  display: none;
}

.actionbar {
  margin-bottom: 10px;
  border: 1px solid $grayLighter;
  border-width: 1px 0;
  padding: 5px 20px;

  .btn-sm {
    margin: 2px 0;
  }
}

@media screen and (max-width: 640px) {
  #feeds {
    position: fixed;
    z-index: 10;
    background-color: #333;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .btn {
      margin: 10px 80px;
    }
  }

  .tree {
    margin: 50px 0 20px 0;

    ul {
      a {
        color: rgba(255, 255, 255, 0.5);
      }
      a:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    #menu > li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    #menu > li:after {
      border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
      content: '';
      display: block;
      width: 100%;
      bottom: 0;
    }

    .badge {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  #icon-help {
    display: none;
  }

  #show-feeds, #prev-item, #next-item {
    display: inline;
  }

  #items {
    margin: 0 5px;
  }
}