<li id="feed_<%= subscription.feed.id %>">
  <%= link_to show_feed_path(subscription.feed) do %>
      <span class="pull-left"><%= raw(shorten_text subscription.feed.name) %></span>
      <span class="badge pull-right"><%= @items_to_read[subscription.feed.id] ? @items_to_read[subscription.feed.id] : ''%></span>
      <span style="clear: both">&nbsp;</span>
  <% end %>
</li>
