<a class="btn btn-primary" type="button" href="#subscribe_popup" data-toggle="modal">Subscribe</a>

<div class="tree-top-shadow"></div>
<div class="tree">
  <ul role="menu" id="menu">
    <li id="all_items">
      <%= link_to show_all_path do %>
        All items
        <span class="badge pull-right"><%= @all_count_unread > 0 ? @all_count_unread : '' %></span>
        <span style="clear: both">&nbsp;</span>
      <% end %>
    </li>
    <% @tree[:folders].each do |folder| %>
        <li class="branch" id="folder_<%= folder.id %>">
          <%= link_to(show_folder_url(folder.id)) do %>
              <span class="chevron pull-left"><i class="<%= folder.is_expanded? ? 'icon-chevron-down' : 'icon-chevron-right' %>"></i></span>
              <i class="icon-folder-open"></i>
              <%= folder.name %>
              <span class="badge pull-right"><%= folder.count_unread > 0 ? folder.count_unread : '' %></span>
              <span style="clear: both">&nbsp;</span>
          <% end %>

          <ul style="display: <%= folder.is_expanded? ? 'block' : 'none' %>">
            <%= render :partial => 'subscription', :collection => folder.subscriptions %>
          </ul>
        </li>
    <% end %>

    <%= render :partial => 'subscription', :collection =>  @tree[:orphans] %>
  </ul>
  <script type="text/javascript">
    $(function() {
        $('#<%= @current_feed %>').addClass('current-feed');
    });
  </script>
</div>
<div class="tree-bottom-shadow"></div>

