<%= link_to root_path, :class => 'navbar-brand' do %>
    <%= image_tag 'logo.png', {:style => 'max-width: auto !important;'} %> Feedzee
<% end %>

<% if session[:current_user_id] %>
    <div class="pull-right">
      <div class="user-actions pull-left">
        <%= image_tag 'loading.gif', :id => 'loading-icon' %>
        <a href="#kbd-help" id="icon-help" class="btn btn-default with-tooltip" title="Keyboard shortcuts" data-toggle="modal">
          <%= image_tag('glyphicons_268_keyboard_wireless.png') %>
        </a>
      </div>

      <div class="navbar-collapse user-actions pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default" id="show-feeds">
            <span class="glyphicon glyphicon-list"></span>
          </button>
          <button type="button" class="btn btn-default" id="prev-item">
            <span class="glyphicon glyphicon-arrow-up"></span>
          </button>
          <button type="button" class="btn btn-default" id="next-item">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user glyphicon-white"></i> <%= @current_user.name %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><%= link_to select_import_url do %>
                  <i class="glyphicon glyphicon-download-alt"></i> Import OPML feeds
              <% end %></li>
            <li><%= link_to logout_url do %>
                  <i class="glyphicon glyphicon-off"></i> Logout
              <% end %></li>
          </ul>
        </div>
      </div>
    </div>
<% end %>