<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= content_for?(:title) ? yield(:title) : "Feedzee" %></title>
  <%= favicon_link_tag('/favicon.ico', {:id => 'favicon'}) %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <!--[if lte IE 8]>
    <%= javascript_include_tag 'ie/html5' %>
  <![endif]-->
</head>

<body>
<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <%= render 'layouts/navigation' %>
  </nav>
</header>

<div id="main" role="main">
  <%= yield %>
</div>
<div id="kbd-help" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="myModalLabel">Keyboard shortcuts</h3>
      </div>
      <div class="modal-body">
        <strong>J / N:</strong> next item<br/>
        <strong>K / P:</strong> previous item<br/>
        <strong>U:</strong> update unread items count (does not affect items being read)<br/>
        <strong>H:</strong> show this popup
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="subscribe_popup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="myModalLabel">Subscribe to feed</h3>
      </div>
      <div class="modal-body">
        <form>
          <label for="feedUrl">Enter feed URL:</label><br/>
          <input type="text" name="feedUrl" id="feedUrl" class="input-xxlarge"/>
          <span class="subscribe_error"></span>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="subscribe_btn" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
</div>

<div class="notifications top-right"></div>
</body>
</html>